@model IEnumerable<TheHRM.Models.Employee_Log>

@{
    ViewBag.Title = "EmployeeLogIn";
}

<h2>EmployeeLogIn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.logID }) |
            @Html.ActionLink("Details", "Details", new { id=item.logID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.logID })
        </td>
    </tr>
}

</table>
